# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Environment & Secrets (KHÔNG commit file này)
.env

# Logs
*.log
logs/

# Data lake / storage (files lớn, không commit)
storage/
bronze/
silver/
gold/

# JAR files (tải về local, không commit)
*.jar

# MSSQL backup (file lớn, không commit)
*.bak
mssql-init/*.bak

# Airflow
airflow.db

# Docker
*.pid

# VS Code / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db